

.register {
    height: 100vh;
    background: url('../../components/navbar/bg-image/Gemini_Generated_Image_fu5sqwfu5sqwfu5s.jpg') no-repeat center center ;
   background-size: cover;
   
   
    display: flex;
    align-items: center;
    justify-content: center;
  
    .card {
      width: 50%;
      display: flex;
      flex-direction: row-reverse;
      background-color: rgba(248, 250, 246, 0.6); 
      border-radius: 10px;
      min-height: 600px;
      overflow: hidden;
      backdrop-filter: blur(4px); 
  
      .left {
        flex: 1;
        padding: 2px;
        background: linear-gradient(rgba(250, 248, 253, 0.5), rgba(251, 250, 253, 0.5)),
        
        url('../../components/navbar/logo/LOGO.png')
          padding-box
            center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
  
        h1 {
          font-size: 50px;
          line-height: 50px;
        }
        
        
  
        span {
          font-size: 14px;
        }
        
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: white;
          color: rgb(13, 121, 22);
          font-weight: bold;
          cursor: pointer;
        }
      }
  
      .right {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
       
  
        h1 {
         font-size: 50px;
        color: #555;
        }
        
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          
          input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          background-color: transparent;
          }
          
          button {
            width: 50%;
            padding: 10px;
            border: none;
            background-color: #30cd3a;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }